@font-face {
  font-family: "Gotham-Bold";
  src: url("./fonts/gotham-bold.ttf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("./fonts/gotham-medium.ttf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("./fonts/gotham-light.ttf");
}

body {
  font-family: "Gotham-Medium", sans-serif;
  color: #434343;
}
